{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in owned_stocks %}
                <tr>
                    <td>{{ stock["Symbol"] }}</td>
                    <td>{{ stock["Name"] }}</td>
                    <td>{{ stock["Shares"] }}</td>
                    <td>${{ stock["buy_value"]["price"] }}</td>
                    <td>{{ stock["total"] }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td>CASH</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ cash }}</td>
                </tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><b>{{ tot_sum }}</b></td>
        </tbody>
    </table>
{% endblock %}

